@font-face {
    font-family: 'Always Together';
    src: url('./Always Together.otf') format('opentype');
}

body {
    overflow: hidden;
    margin: 0;
}

* {
    font-family: 'Always Together';
    font-size: 16px;
}

::-webkit-scrollbar {
    display: none;
}

.panel-content {
    color: white;
    position: fixed;
    padding-top: 60px;
    padding-left: 20px;
    width: 300px;
    height: 100%;
    left: -100%;
    top: 0;
    z-index: 1;
    background-color: rgba(51, 51, 51, 0.8);
    backdrop-filter: blur(25px);
    transition: left 0.2s ease-in-out;
}

.panel-content.open {
    left: 0;
}

.toggle-button {
    position: fixed;
    top: 15px;
    left: 15px;
    background-color: #333;
    color: white;
    border: none;
    padding: 3px 6px;
    padding-bottom: 0px;
    cursor: pointer;
    z-index: 2;
    font-size: 36px;
    border-radius: 5px;
    transition: left 0.2s ease-in-out;
}

p#title {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 25px;
    color: white;
    font-size: 44px;
}

.panel-content.open~.toggle-button {
    left: 255px;
}

.toggle-button:hover {
    background-color: #222;
    
}

.performance-mode-toggle {
    position: fixed;
    height: 20px;
    bottom: 80px;
    left: 20px;
    background-color: #333;
    color: white;
    padding: 10px;
    padding-bottom: 6px;
    border-radius: 5px;
    z-index: 2;
    display: flex;
    align-items: center;
}

.performance-mode-toggle label {
    margin-right: 10px;
    font-size: 16px;
}

.performance-mode-toggle input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

select {
    height: 35px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 4px;
    margin-right: 10px;
    font-size: 16px;
    background-color: #333;
    color: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 10px;
}

select:hover {
    background-color: #222;
}

.apply {
    color: white;
    background-color: #333;
    width: 60px;
    height: 35px;
    float: right;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
}

.apply:hover {
    background-color: #222;
}

hr#header-break {
    float: left;
    width: 280px;
}

.collapsible {
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 12px;
    padding-bottom: 6px;
    margin-top: 10px;
    width: calc(100% - 20px);
    border: none;
    text-align: left;
    outline: none;
    font-size: 24px;
    border-radius: 10px;
}

.active,
.collapsible:hover {
    background-color: #222;
}

.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.content {
    padding: 10px;
    display: none;
    background-color: rgba(34, 34, 34, 0.5);
    width: calc(100% - 40px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.collapsible:after {
    content: '▼';
    font-size: 13px;
    color: white;
    float: right;
}

.active:after {
    content: "▲";
    border-radius: 0;
}

.content#sets {
    display: flex;
    justify-content: space-between;
}